---
layout: default
---

%h2 Cars vs People
.row
  .large-12.columns
    .visualization.car-vs-people

%h2 Vehicle miles vs fuel consumption
.row
  .large-12.columns
    .visualization.vehicle-miles

.row
  .large-12.columns
    %h1 We're trying to get the following assets
    %ul
      %li Total Bike Lanes
      %li Longest distance you can travel on bike lanes
