
.page-header {
    margin-top: 20px;
    hr { border: 1px solid black; }
}

// General visualization styles
.visualization {
  .attribution {
    float: right; margin-right: 100px;
    .title { font-weight: bold; text-transform: uppercase; }
    .subtext { font-style: italic; color: grey; }
  }
}

/////////////////////
// Pages
/////////////////////
