---
---
<!DOCTYPE html>
%html.no-js{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Hawaii Transit Dashboard
    {% stylesheet application %}
    {% stylesheet app %}
  %body
    .row.page-header
      .large-12.columns
        .row
          .large-12.columns
            %h1 Hawaii Transit Dashboard (alpha)

    {{ content }}
    {% javascript application %}
